<?xml version="1.0"?>

<configuration>


  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  
  <connectionStrings>
  <!--    Actual -->
  <add name="GAG"
     connectionString="Data Source=192.168.156.175;Initial Catalog=GAG_PRU;Persist Security Info=True;User ID=usuario_iis;Password=globalia"
     providerName="System.Data.SqlClient"/>
    
    <add name="GAG_DES"
       connectionString="Data Source=10.156.0.102;Initial Catalog=GAG_PRU;Persist Security Info=True;User ID=usuario_iis;Password=globalia"
       providerName="System.Data.SqlClient"/>
    
            
    <add name="CONEX_CONTABLE"
         connectionString="Data Source=10.156.0.102;Initial Catalog=GAG_SAP;Persist Security Info=True;User ID=usuario_iis;Password=globalia"
         providerName="System.Data.SqlClient"/>
    
    <add name="GLDISTRI"
       connectionString="Data Source=10.156.0.102;Initial Catalog=GLDISTRI;Persist Security Info=True;User ID=usuario_iis;Password=globalia"
       providerName="System.Data.SqlClient"/>
    
 
    <!--    SIN USO ACTUAL  -->
    <add name="GAG_LOCAL"
         connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=GAG;Integrated Security=True;Connect Timeout=30; Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"         
         providerName="System.Data.SqlClient"/>
    
   
    
  </connectionStrings>


  <appSettings>
    <!-- <add key="FtpFacturasSAP"  value="ftp.globalia-corp.com"/>
      91.240.57.117 .Ip devuelta desde local. Con esta funciona				
      192.168.150.11 (IP: desde la web).       
      
      19/11/19 cambiado a sftp.globalia.com 
        antiguo <add key="FtpFacturasSAP"  value="ftp.globalia-corp.com"/>
      
    -->
    <add key="UrlFacturasSAP"  value="http://intranet.halconviajes.com/Facturas_SAP/"/>
    
    <add key="FtpFacturasSAP"  value="sftp.globalia-corp.com"/>
    <add key="FTP_US"  value="facturassaphalcon"/>    
    
    <add key="FtpFacturasSAP_DES"  value="sftp.globalia-corp.com"/>
    <add key="FTP_US_DES"  value="testgag"/>    
        
  </appSettings>



  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000"/>

      </webServices>
    </scripting>
  </system.web.extensions>


</configuration>
